/* Basic styles for the navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #333;
  color: white;
}
.daily{
  margin-right: 20px;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  margin-left: 20px;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 2rem;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
}

.auth-buttons .btn-login,
.auth-buttons .btn-signup {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  font-size: 1rem;
}

.btn-login {
  background-color: #444;
  color: white;
}

.btn-signup {
  background-color: #f39c12;
  color: white;
}
